.buttons {
  &__promo {
    border-radius: 4px;
    padding: 15px 10px;
    min-width:183px;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    &:hover {
      transition: all 0.1s ease-in-out;
      box-shadow: $shadow;
    }
    @media (max-width: 768px) {
      padding:10px;
    }
    &--buy {
      color:$white;
      background: $blue;
      border: 1px solid $white;
    }
    &--more {
      background: $white;
      border: 1px solid $gray;
    }
  }
  &__form--submit {
    width: 370px;
    padding: 15px 10px;
    grid-area: submit;
    color:$white;
    background: $blue;
    border: 1px solid $white;
    border-radius: 4px;
    @media (max-width: 1199px) {
      width: 100%;
    }
    &:hover {
      transition: all 0.1s ease-in-out;
      box-shadow: $shadow;
    }
  }
}
