.content {
  background: no-repeat url("../img/bg-content.png") center $navi;
  //background-image: url('../img/bg-content.png');
  background-size: cover;
  color: $white;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 121px;
    @media (max-width: 768px) {
      padding: 20px;
    }
  }
  &__title {
    font-weight: 800;
    font-size: 36px;
    line-height: 43px;
    text-transform: uppercase;
    &--color-block {
      color:$blue;
    }
  }
  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $gray-light;
    margin-bottom: 80px;
  }
}
