.nav {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  &__list{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 60px;
    list-style-type: none;
    @media (max-width: 768px) {
      gap: 10px;
      padding-bottom: 20px;
    }
    @media (max-width: 340px) {
      flex-direction: column;
    }
  }
  &__item{
    height: 100%;
  }
  &__link {
    text-decoration: none;
    color:$white;
    height: 100%;
    &--current {
      color: $blue;
    }
    &:hover {
      text-decoration: underline;
    }
  }

}
