.promo {
  padding-top: 80px;
  //background: no-repeat url('../img/bg-promo.jpg') center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 768px) {
    background-position: 75%;
    padding-top: 10px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

  }
  &__title {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @media (max-width: 768px) {
      font-size:20px;
      line-height: 28px;
    }
  }
  &__buttons {
    margin-top: 50px;
    margin-bottom: 180px;
    display:flex;
    gap:30px;
    max-width: 320px;

    @media (max-width: 768px) {
      margin-top: 20px;
      flex-direction: column;
      gap: 10px;
      align-self: center;
    }
    & button {
      border-radius: 4px;
      padding: 15px 10px;
      min-width:183px;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      text-transform: uppercase;
      &:hover {
        transition: all 0.1s ease-in-out;
        box-shadow: 2px 2px 4px grey;
      }
      @media (max-width: 768px) {
        padding:10px;
      }
    }
    &--buy {
      color:$white;
      background: $blue;
      border: 1px solid $white;
    }
    &--more {
      background: $white;
      border: 1px solid #6F6D7B;
    }
  }
}
