.scheme {
  &__list {
    list-style: none;
    display: flex;
    justify-content:space-between;
    padding: 0;
    gap: 20px;
    @media (max-width: 1199px) {
      flex-direction: column;
    }
    & li:not(:last-child) > div:after{
      position: absolute;
      content: "";
      top: 50px;
      left: 165px;
      width: 110px;
      height: 6px;
      //background: url("./assets/img/dots.svg") no-repeat center;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../img/dots.svg");
      @media (max-width: 1199px) {
        display: none;
      }
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 209px;
    position: relative;
  }
  &__icon {
    width: 100px;
    height: 100px;
    border: 5px solid #286690;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: $blue;
    display: flex;
    justify-content:center;
    align-items: center;
    @media (max-width: 320px) {
      width: 80px;
      height: 80px
    }
  }
  &__text {
    @media (max-width: 320px) {
      margin:10px 0;
    }
  }
}
