$navi: rgba(16, 16, 29, 0.9);
$navi-gray: rgba(61, 64, 80, 1);
$white: rgba(255, 255, 255, 1);
$blue: rgba(66, 169, 237, 1);//много оттенков но я использовал 1 тк тестовое
$blue-dark: rgba(40, 102, 144, 1);
$gray:rgba(187, 187, 187, 1);
